%tr
  %td
    %span{:class => board_thread.finished? ? '' : 'err'}
      = board_thread.id
  %td
    = board_thread.title
  %td
    = link_to '[success]', board_thread
    = link_to '[queue]', [:queue, board_thread]
    = link_to '[thread]', board_thread.url
  %td= board_thread.image_urls.finished.count
  %td= board_thread.image_urls.queued.count
  %td
    = board_thread.accessed_at || '---'
