%tr
  %td
    %span{:class => board_thread.finished? ? '' : 'err'}
      = board_thread.id
  %td
    = board_thread.title
  %td
    = link_to '[success]', board_thread
    %a{href: "view.php?id={$thread.id|escape}&amp;cnt={$cnt[$thread.id].get}&amp;only=0,2"} [get?]
    %a{href: "view.php?id={$thread.id|escape}&amp;cnt={$cnt[$thread.id].get}&amp;only=0,1,2"} [all]
    = link_to '[thread]', board_thread.url
  %td {$cnt[$thread.id].get|default:0}
  %td {$cnt[$thread.id].queue|default:0}
  %td
    = board_thread.accessed_at || '---'
