.well
  = form_for BoardThread.new, :html => {:class => 'form-inline span6'} do |f|
    = f.text_field :url, {:class => 'span4', :placeholder => 'http://'}
    = button_tag :type => :submit, :class => 'btn' do
      %i.icon-plus
      Watch URL
  %form.form-search.span4.offset1
    %input.input-short.search-query{:placeholder => "Word or ID"}
    %submit.btn
      %i.icon-search
      Search

.pagination.pagination-centered
  %ul
    %li.previous
      %a << older
    %li
      = link_to :root do
        %i.icon-home
        TOP
    %li.next
      %a newer >>

-#{if isset($writers)}
-#	{foreach from=$writers item=writer}
-#		<a href="writer.php?name={$writer.writer|escape}">{$writer.writer|escape}({$writer.cnt|escape})</a>
-#	{/foreach}
-#{/if}
-#{$smarty.capture.pager}

.row
  .span12
    %table.table.table-striped.table-condensed
      %caption Threads
      = render 'board_threads'
  -#{$smarty.capture.page}
